/* Universal Section */

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  background-color: black;
  color: white;
}

.App {
  background-color: black;
}


/* Header Section */

.headerContainer {
  text-align: center;
  background-color: black;
  color: white;
  border-bottom: 1px solid white;
  display: flex;
  
  
}

.headerContainer h1 {
  padding: 20px 0;
  font-family: cursive;
  width: 80%;
  text-align: left;
  padding-left: 15px;
}

.headerContainer p {
  text-align: right;
  padding-right: 15px;
  cursor: pointer;
  align-items: right;
  width: 20%;

  
}

/*Login Section */

.Login {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px 10px 0;
  
}

.Login h4 {
  cursor: pointer;
  margin-left: 90%;
  width: 15px;
}

/* Category Section */

.categoryTitle {
  background-color: black;
  text-align: center;
  color: white;
  padding-top: 25px;

}

.categoryList {
  background-color: black;
  display: flex;
  justify-content:space-around;
  list-style: none;
  margin-top: 50px;
 
}

.categoryList li:hover {
  cursor: pointer;
  transform: scale(2);

}


/* movie Section */



.categoryTitle {
  color: white;
  margin: 40px 0;
}

.movieContainer {
  white-space: nowrap;
  overflow: scroll;
}

.movieRow {
  display: inline-flex;
  overflow:scroll;
  white-space: nowrap;
}

.movieImg :hover{
 transform: scale(1.1);
 cursor: pointer;
}

.img-div {
  margin: 0 10px;
  cursor: pointer;
}

.movieImg {
  border: 2px solid white;
  border-radius: 25px;
  height: 400px;
}

/* Movie Info Page */

.movieInfo-wrapper {
  margin: 0 auto;
  background-color: white;
  border: 3px solid gray;
  border-radius: 25px;
  z-index: 100;
  position: absolute;
  top: 1%;
  left: 6%;
  font-size: 1.75vw;
}

.movieInfo-wrapper img {
  border-radius: 25px;
  padding: 10px;
}



.movieInfo-wrapper h3 {
  padding: 5px 5px 0 0 ;
  cursor: pointer;
  
}

.movieInfo-wrapper h4 {
  text-decoration: underline;
}

/* Admin Page */

.adminList {
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}

.adminList li {
  cursor: pointer;
}
